name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake build-essential googletest libgtest-dev
    
    - name: Configure CMake
      run: cmake -B build -S inference
      
    - name: Build
      run: cmake --build build
      
    - name: Run tests
      run: GTEST_COLOR=1 ctest --test-dir build --output-on-failure --verbose